
name: Integration

on:  # ETHULA PUSH OR PULL REWUST MAIN LA NADANTHU JOBS UILA THU NADAKUNU CONDITION
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4 #CHECK OUT THE CURRENT BRANCH
    - name: Use Node.js ${{ matrix.node-version }} #FOR OUR APLICATION RUN O THE NODES VERSION BASED ON CODE
      uses: actions/setup-node@v3 #THATS SET AN NODE ENVIROINMENT FOR PNODE EXECUTION
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: "Installing Dependencies"
      run: npm i #THAT INSTALL ALL THE DEPNDIES TO RUN THE CODE

    - name: "Build command"
      run: npm run build #ITS AN BUILD STAGE 

  unit-tests: #AFTER BUILD STAGE IS FINISH WE SET TO TEST PROCESS

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: "Installing Dependencies"
      run: npm i

    - name: "Running test cases"
      run: npm run test